<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Black.ttf
Roboto-Blackltalic.ttf
Roboto-Bold.ttf
Roboto-Bolditalic.ttf
Roboto-ltalic.ttf
Roboto-Light.ttf
Roboto-Lightitalic.ttf
Roboto-Medium.ttf
Roboto-Mediumitalic.ttf
Roboto-Regular.ttf
Roboto-Thin.ttf
Roboto-Thinltalic.ttf</string>
		<string>Roboto-Blackltalic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-Bolditalic.ttf</string>
		<string>Roboto-ltalic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-Lightitalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-Mediumitalic.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-Thinltalic.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array/>
		</dict>
	</dict>
</dict>
</plist>
